@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --branco: white;
    --preto: black;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

body {
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
 
}

header a:first-child {
    font-size: 30px;
    justify-content: center;
    text-decoration: none;
    color: white;

}    

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;

}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    text-decoration: none;
    color: white;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;


}

.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;

}

nav a:first-child {
    border-right: 1px solid var(--preto);
    text-decoration: none;
    font-weight: bold;
    color: black;

}

nav a:last-child {
    border-right: 1px solid var(--preto);
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#banner {
    width: 100%;
    background-image: url(../imgs/rosa_mulheres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

#txt-banner {
    position: absolute;
    top: 10%;
    right: 10%;

}

.conteudo {
    margin: 1rem;
}

.conteudo h1 {
    text-align: center;
    padding: 1rem;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    color: white;
}

.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-secundaria);

}

.card-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.card-content {
    color: var(--branco);
    padding: 1rem;
    text-align: center;
    

}
footer {
    display: grid;
    width: 100%;
    background-color: var(--branco)
    


}

footer .container {
    display: grid;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem 1.5rem;

}

footer .container h3{

    margin-bottom: 16px;
    font-weight: 600px;
    color: var(--preto)

}

footer .container a{
    color: rgb(57, 49, 49);
    flex-direction: column;
    grid-template-columns: none;
    text-decoration: none;
    
}

footer .container p {
    color: black
}


footer .container .redes-socias img{
    margin-right: 10px;
    
    
}


.footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.input_group {
    display: flex;
    align-items: center;
}

#input_group input{
    all:unset;
    padding: 0.75rem;
    width: 100%;
    
}

.input_group button {
    border: none;
    color: var(--preto);
    padding: 0px 1.25rem;
    font-size: 1. 125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    
}

    

.footer_copyright {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    color: white;
}
/*
#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--preto);
    padding: 0px 1.25rem;
    font-size: 1. 125rem;
    height: 100%;
    border-radius: 0px 4px 4px;
}
*/
footer .container ul {
    width: 100%;
    margin-bottom: 200px;
    list-style: none;
    

}

footer .container ul > p{
    margin-bottom: 20px;

}

footer .container li {
    margin: 5px 0;

}



.form-container {
    background-color: var(--cor-primaria);
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 6px;
    text-align: center;
    margin-block: 2rem;
    color: var(--preto)
    

}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

}



.email-container {
    margin-block: 2rem;
    color: var(--preto);

}

.email-container label {
    left: 0;
    
    
}

form .email-container input {
    flex-grow: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}


form .senha-container {
    text-align: center;
    margin-block: 2rem;
    color: var(--preto)
    
    
}

form .senha-container input {
    flex-grow: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

}
.login {
    background-color: black;
    color: var(--branco);
    width: 125px;
    height: 45px;
    list-style: none;
    
}

div .nav-login a {
    list-style: none;
    color: var(--preto)

}

.redes-icon {
   padding: 10px;
   color: var(--preto);
}

.redes-icon a img{
    margin-right: 10px;


}




/*

.footer-subscribe {
    flex-direction: column;
    grid-template-columns: none;
    gap: 1.5rem;
    
}

.footer-subscribe h3 {
    grid-template-columns: none;
    color: black;
    
}

.footer-subscribe{
    color: var(--branco);
    color: black;

    

    
}

.input_group {
    align-items: center;
    background-color: var(--branco);
    border-radius: 4px;
}

.input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.input_group button {
    background-color: #FDACE0;
    border: none;
    color: var(--cor-tres);
    padding: 0px 1.25rem;
    font-size: 1. 25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
    